<!DOCTYPE html>

<html>

<table style="border:1px solid black;">
    <tr>
      <td style="border:1px solid black;"></td>
      <td style="border:1px solid black;">
        <textarea name="up" rows="5" cols="30"></textarea><br>
        <input type="submit" value="Submit">
      </td>
      <td style="border:1px solid black;"></td>
    </tr>
    <tr>
      <td style="border:1px solid black;">
        <textarea name="left" rows="5" cols="30"></textarea><br>
        <input type="submit" value="Submit">
      </td>
      <td style="border:1px solid black;">
      </td>
      <td style="border:1px solid black;">
      <textarea name="right" rows="5" cols="30"></textarea><br>
        <input type="submit" value="Submit">
      </td>
    </tr>
    <tr>
      <td style="border:1px solid black;"></td>
      <td style="border:1px solid black;">
        <textarea name="down" rows="5" cols="30"></textarea><br>
        <input type="submit" value="Submit">
      </td>
      <td style="border:1px solid black;"></td>
    </tr>
  </table>

</html>
